<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.staticImages = {
    slack_home: "<%= image_url("slack_home_img.png") %>"
  }
</script>
<div id="root">


</div>
