// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channel-main {
  display: flex;
  background-color: #f9f9f9;
  // min-height: 800px;
  height: calc(100vh - 200px);
  position: relative;
  padding-top: 70px;
  font-family: Verdana, Geneva, sans-serif;
}

.channel-item-form-container {
  text-align: center;
  // border-bottom: 1px solid gray;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  width: calc(100% - 14px);
  min-height: 60px;
  padding-top: calc(12px - 1px);
  padding-bottom: calc(16px - 1px);
  padding-left: calc(12px - 1px);
  border: 1px solid transparent;
  border-top: 1px solid #e8e8e8;
  // cursor: pointer;
  line-height: 1.46668;
}

.channel-item-form-container:hover {
  background: #eaf5fc;
  border-radius: 6px;
  border: 1px solid #cbe7f7;
}

.channel-list {
  margin: 0 auto;
  background-color: #fff;
  width: 100vw;
  // height: 100%;
  border-radius: 4px;
  overflow-y: auto;
  // box-shadow:
}

.channel-list-header-container {
  display: flex;
  align-items: center;
  // justify-content: center;
  margin-top: 90px;
}

.channel-list-header-container > button {

  // transition: background-color .3s;
  // margin-bottom: -5px;
  // border-bottom: 1px solid gray;
}


.channel-list-header-container > h1 {
  font-size: 34px;
  font-weight: 700;
  // text-align: center;
  color: #2c2d30;

  margin-bottom: 30px;
  // margin-top: 20px;
  // margin-left: 10px;
}

.join-channel-btn {
  // margin: 20px 0 0 5px;
  margin-right: 12px;
  border-radius: 2px;
  padding: 5px;
  width: 25%;
  background-color: #3f46ad;
  text-align: center;
  color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  transition: background-color .3s;
  // margin-bottom: -5px;
  border-bottom: 1px solid gray;
}

.join-channel-btn:hover {
  background-color: #3a2d82;
}

.flex-channel-items > h2 {
  display: block;
  margin-left: 14px;
}

.channel-list-item-form {
  margin: 0 auto;
}

.flex-channel-items {

  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  margin-top: 16px;

}

.flex-channel-items {

}

.channel-form-main {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.channel-form-main > h1 {
  display: block;
  margin-top: 20px;
  font-size: 34px;
}

.channel-form-main > h4 {
  margin-bottom: 0px;
}

.channel-form {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.channel-form > input[type="submit"] {
  margin-right: 0px;
}

.channel-form > input[type="text"]{
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 6px;
  // margin-bottom: 15px;
}

.channel-form-checkbox {
  display: none;
}

.channel-form-switch {
  position:relative;
  display: block;
  width: 60px;
  height: 34px;
}

.channel-form-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.channel-form-slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.channel-form-switch > input:checked + .channel-form-slider {
  background-color: #2196F3;
}

.channel-form-switch > input:focus + .channel-form-slider {
  box-shadow: 0 0 1px #2196F3;
}

.channel-form-switch > input:checked + .channel-form-slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.channel-switch-conatiner {
  display: flex;
  margin-top: 8px;
  margin-bottom: 14px;
}

.channel-back-btn {
  font-family: 'Noto Sans', sans-serif;
  position: absolute;
  top: 125px;
  right: 70px;
  width: 70px;
  height: 70px;
  z-index: 1;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  color: gray;
  font-size: 36px;
}

.channel-back-btn:hover {
  background-color: #ccc;
}

.channel-dm-form-creation-container {
  margin: 0 auto;
  text-align: center;
}

.create-channel-btn {
  position: absolute;
  top: 100px;
  left: 40px;
  margin-right: 12px;
  border-radius: 2px;
  height: 27px;
  text-align: center;
  color: #717274;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.create-channel-btn:hover {
  text-decoration: underline;
}

.channel-join-container {

  width: 60%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
}

.channels-join-header {
  background: #f9f9f9;
  border-radius: 4px 4px 0 0;
  width: 100%;
  margin: 0 auto;
  padding: 4px 0 4px 12px;
  font-size: 15px;
  color: #717274;
}

.channel-list-scroll {
  overflow-y: scroll;
}
