// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messages-main {
  height: 100vw;
  max-height: 800px;
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  // min-height: 1000px;
}


.message-list {
  // background-color: green;
  overflow-y: scroll;
  margin-top: 5px;
  margin-left: 20px;
}

.message-item {
  // background-color: #fff;
  display: flex;
}

.avatar-img {
  border-right: 1px solid black;
}

.message-item-content {
  margin-left: 4px;
}

.message-author {
  margin: 2px 10px 4px 0;
}

.message-form-input-container {
  // background-color: yellow;
}

.messages-content-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.message-footer {
  min-height: 70px;
  width: 84%;
  position: fixed;
  bottom:0px;
  z-index: 2;
  background-color: #fff;
}

.message-footer-container {
  // width: 95%;
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.message-form-input-container {

  // margin: 0 auto;
  width: 93%;
  border: 2px solid lightgray;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 6px;
  margin-left: -1px;
  display: flex;
  vertical-align: center;
}

.message-create-form {
  margin: 4px;
  display: flex;
  vertical-align: center;
}

.message-attachment-btn {
  border: 2px solid lightgray;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 6px 10px 6px 10px;
  margin-right: -1px;
  color: #ab9ba9;
  font-size: 26px;
}

.avatar-img {
  height: 40px;
  width: 40px;
}

.message-author {
  font-weight: 900;
}
