.message-navbar {
  display: flex;
  position: relative;
  background-color: #4D394B;
  flex-direction: column;
  height: 100vh;
  width: 220px;
  min-width: 220px;
  color: #ab9ba9;
  z-index: 2;
}

.message-navbar > div{
  position: absolute;
}

.user-menu {
  display: flex;
  flex-direction: column;
}

.team-name {
  margin: 10px 0 0px 16px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.username {
  margin-left: 30px;
  margin-top: 3px;
  font-size: 14px;
}

.channel-col {
  width: 100%;
  top:40px;
  line-height: 1.6;
}

.dm-menu-item, .channel-menu-item {
  margin-left: 18px;
}
//
.channel-menu > a, .dm-menu > a {
  display: block;
}

.side-nav-header-link {
  display: block;
  margin-left: 16px;
}

.side-nav-header-link:hover {
  color: #fff;
}

.channel-menu-item-link:hover {

  background-color: #3E313C;
}

.channel-menu {
  margin-top: 40px;
}

.dm-menu {
  margin-top: 30px;

}

.channel-menu-item {
  display: block;
}

.dm-menu-item {
  display: block;
  margin-left: 4px
}

.selected {
  background-color: #4C968A;
  color: #fff;
}

.selected:hover {
  background-color: #4C968A;
}

.logout-modal {
  display: none;
  position: fixed;
  border-radius: 4px;
  z-index: 2;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  top: 58px;
  left: 10px;
  width: 300px;
  height: 600px;
  background-color: white;
  color: black;
}



.modal-user-info {
  margin: 25px 0 8px 25px;
  display: flex;
}

.modal-user-avatar {
  height: 50px;
  width: 50px;
  align-items: center;
}

.modal-user-avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.modal-user-username {
  display: block;
  position: relative;
  top: 5px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
}

.modal-signout {
  margin-left: 25px;
}

.modal-signout-container {
  padding: 4px 0 4px 0;
}

.modal-signout-container:hover {
  background-color: #2d9ee0;
}

.modal-profile-btn-container:hover {
  background-color: #2d9ee0;
}

.modal-profile-btn-container {
  padding: 4px 0 4px 0;
}

.modal-profile-btn {
  margin-left: 25px;
}

.profile-modal {
  display: none;
  background-color: #fff;
  max-height: calc(100vh - 64px);
  position: fixed;
  top:64px;
  right: 0px;
  height: calc(100vw - 70px);
  width: 30%;
  border-left: 1px solid lightgray;
  color: #717274;
}

.profile-modal-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0 20px 0;
  font-size: 20px;

}

.profile-modal-header {
  color: black;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}

.profile-modal-header:hover {
  color: #005e99;
}

.profile-modal-back-btn {

  margin-right: 20px;
  font-size: 24px;
}

.profile-modal-back-btn:hover {
  color: #005e99;
}

.profile-modal-userinfo-container {
  padding: 0 8px 0 4px;
}

.profile-modal-user-avatar {
  height: 218px;
  margin-top: 12px;
}

.profile-modal-user-avatar > img {
  border-radius: 4px;
  max-height: 100%;
  max-width: 100%;
}

.profile-modal-username {
  text-align: center;
  font-size: 28px;
}

.profile-modal-edit-avatar {
  display: flex;
  margin-top: 15px;
}

.profile-modal-edit-avatar-btn {
  height: 26px;
  width: 92px;
  border: 1px solid #e8e8e8;
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  color: black;
  margin: 0 auto;
}

.profile-modal-edit-avatar-btn:hover {
  background-color: #fff;
  color: #005e99;
}

.modal-profile-btn-container, .modal-signout-container {
  cursor: pointer;
}
