.message-navbar {
  display: flex;
  background-color: #4D394B;
  flex-direction: column;
  height: 100vh;
  width: 220px;
  min-width: 220px;
  color: #ab9ba9;
  z-index: 2;
}

.user-menu {
  display: flex;
  flex-direction: column;
}

.team-name {
  margin: 10px 0 0px 16px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.username {
  margin-left: 30px;
  font-size: 12px;
}

.channel-col {
  //dont forget to remove
  // border-top: 1px solid black;
  // margin-left: 16px;
  line-height: 1.6;
}

.dm-menu-item, .channel-menu-item {
  margin-left: 18px;
}
//
.channel-menu > a, .dm-menu > a {
  display: block;
}

.side-nav-header-link {
  display: block;
  margin-left: 16px;
}

.side-nav-header-link:hover {
  color: #fff;
}

.side-nav-headers:hover {

}

.channel-menu-item-link:hover {

  background-color: #3E313C;
}

.channel-menu {
  margin-top: 40px;
}

.dm-menu {
  margin-top: 30px;

}

.channel-menu-item {
  display: block;
  // font-size: 14px;
  // margin-left: 4px
}

.dm-menu-item {
  display: block;
  // font-size: 14px;
  margin-left: 4px
}

.selected {
  background-color: #4C968A;
  color: #fff;
}

.selected:hover {
  background-color: #4C968A;
}
